/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.interface {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #000;
    font-family: "Raleway", sans-serif;
    color: white;
}

/* CABECALHO */

.cabecalho {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000;
    padding: 0 4%;
}

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.2rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cabecalho__logo-nome {
    font-weight: 700;
}

.cabecalho__nav-lista {
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.cabecalho__nav-link {
    transition: .2s ease-in-out;
}

.cabecalho__nav-link:hover {
    color: #ad52d4;
}

.cabecalho__nav-lista li:last-child {
    font-weight: 700;
    color: #ad52d4;
}

.cabecalho__nav-lista li:last-child:hover {
    text-shadow: 0 0 12px #c385de;
}

/* HERO */

.hero {
    padding: 0 4%;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10.5rem 0 5rem;
}

.hero__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
}

.hero__titulo {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: #ad52d4;
}

.hero__avatar {
    width: 368px;
    border-radius: 50%;
}

.hero__descricao {
    font-size: 1.375rem;
    line-height: 1.7rem;
}

.hero__links {
    display: flex;
    gap: 32px;
    font-weight: 500;
    flex-wrap: wrap;
}

.hero__link {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: .2s ease-in-out;
}

.hero__link:hover {
    color: #ad52d4;
}

/* SOBRE MIM */

section#sobre {
    background-color: #0e0e0e;
    padding: 0 4%;
}

.sobre__container {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.sobre__titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ad52d4;
}

.sobre__descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.sobre__descricao p {
    line-height: 1.75rem;
    font-size: 1.2rem;
}

/* SKILLS E HOBBIES */

.skills__container {
    padding-top: 2rem;
}

.hobbies__container {
    padding-bottom: 5.5rem;
}

.skills__container h2, .hobbies__container h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ad52d4;
    margin-bottom: 32px;
}

.skills__box-cards, .hobbies__box-cards {
    display: flex;
    flex-wrap: wrap;
    
}

.skills__box-cards {
    justify-content: space-between;
    margin-bottom: 88px;
    gap: 20px;
}

.hobbies__box-cards {
    justify-content: center;
    gap: 80px;
}

.skills__card, .hobbies__card{
    width: 176px;
    height: 174px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 12px;
    padding: 1rem;
    border-radius: 8px;
}

.skills__card span, .hobbies__card span {
    font-weight: 700;
}

.skills__card i, .hobbies__card i {
    font-size: 1.8rem;
    color: #ad52d4;
}

/* FORMAÇÃO */

section#formacao {
    background-color: #0e0e0e;
    padding: 0 4%;
}

.formacao__container {
    padding: 5.125rem 0;
}

.formacao__container h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ad52d4;
    margin-bottom: 80px;
}

.formacao__box-cards {
    display: flex;
    gap: 16px;
}

.formacao__card {
    width: calc((100% / 3) - 16px);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formacao__card:hover {
    transform: scale(1.02);
}

.formacao__card h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

.formacao__card p {
    font-weight: 500;
}

.formacao__card-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f3f3;
    height: 290px;
    border-radius: 10px;
}

.formacao__card-img img{
    width: 250px;
}

/* PROJETOS */

section#projetos {
    padding: 0 4%;
}

.projetos__container {
    padding: 2rem 0;
}

.projetos__container h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ad52d4;
    margin-bottom: 80px;
}

.projetos__projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.projetos__projeto img{
    width: 800px;
    height: 420px;
    border-radius: 12px;
    object-fit: cover;
}

.projetos__projeto h3 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.projetos__projeto p {
    font-weight: 500;
    margin-bottom: 12px;
}

.projeto__buttons {
    display: flex;
    gap: 16px;
}

.projeto__buttons a {
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.projeto__buttons a:first-child {
    border: 2px solid #ad52d4;
    color: #ad52d4;
}

.projeto__buttons a:first-child:hover {
    background-color: #b973d787;
}

.projeto__buttons a:last-child {
    background-color: #ad52d4;
}

.projeto__buttons a:last-child:hover {
    background-color: #b785cd;
}

/* CONTATO */

section#contato {
    padding: 4rem 4%;
    background-color: #0e0e0e;
}

.contato__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    height: 660px;
}

.contato__box-img {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad52d4;
    border-radius: 8px;

}

.contato__box-img img {
    width: 450px;
}

.contato__content {
    display: flex;
    height: 100%;
    width: 856px;
    justify-content: space-between;
    flex-direction: column;
}

.contato__content-text h2{
    font-size: 2.5rem;
    color: #ad52d4;
    font-weight: 700;
    margin-bottom: 10px;
}

.contato__content-text p {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 500;
}

.formulario__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    margin-top: 32px;
}

.formularo__container__input,
.formularo__container__textarea {
    position: relative;
}

.formularo__container__input input {
    height: 74px;
}

.formularo__container__input input,
.formularo__container__textarea textarea {
    width: 100%;
    background-color: #272727;
    padding: 0.4rem 0.75rem;
    border-radius: 5px;
    border-bottom: 3px solid #424242;
    outline: none;
    font-size: 1.2rem;
    resize: none;
    box-sizing: border-box;
}

.formularo__container__input input::placeholder,
.formularo__container__textarea textarea::placeholder {
    font-size: 1.2rem;
}

.formularo__container__input input:focus,
.formularo__container__textarea textarea:focus {
    border-bottom: 3px solid #ad52d4;
    padding-top: 1.75rem;
}

.formularo__container__input input:not(:focus):valid,
.formularo__container__textarea textarea:not(:focus):valid {
    padding-top: 1.75rem;
}

.formularo__container__input label,
.formularo__container__textarea label {
    position: absolute;
    left: 12px;
    top: 10px; 
    color: #ad52d4;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease, color 0.3s ease;
}

.formularo__container__input input:focus + label,
.formularo__container__textarea textarea:focus + label {
    opacity: 1; 
}

.formularo__container__input input:not(:focus):valid + label,
.formularo__container__textarea textarea:not(:focus):valid + label {
    opacity: 1;
    color: #424242;
}

.formularo__container__textarea textarea {
    height: 143px;
}

.formulario__container button {
    align-self: flex-start;
    background-color: #ad52d4;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
}

.formulario__container button:hover {
    background-color: #b785cd;
    cursor: pointer;
}

/* RODAPÉ */

.rodape {
    padding: 1.75rem 0;
}

.rodape p {
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.rodape p a {
    font-weight: bold;
    text-decoration: underline;
}